<div class="main_wrap">
  <% if user_signed_in? %>
  <section class="introduction_message">
  <p>ようこそ @<%= current_user.user_name %>さん</p>
  <p>Monorは何かを作りたい人が集う場所です</p>
  <p>@<%= current_user.user_name %>さんが何かを作りたいのであれば、それはニーズがあるのかなどの調査など必要な時Monorがあります。</p>
  <p class="develop_new"><%= link_to 'Develop New Items', new_photo_path %></p>
<% end %>
  </section>
  <section class="developed_items clearfix">
    <% @photos.each do |photo| %>
    <ul class="developed_lists">
        <li><%=link_to image_tag(photo.image), photo %></li>
        <li class="photo_caption">Comment:<%= photo.caption %></li>
        <li class="to_the_left"><%= link_to 'See the Details', photo %></li>
      </ul>
    <% end %>
  </section>
  </div>