<div class="main_wrap">

<div class="photo_image_url">
  <p><%= image_tag(@photo.image_url) if @photo.image.present? %></p>
</div>

<div class="photo_caption">
  <p><%= @photo.caption %></p>
</div>

<% if user_signed_in? && @photo.user == current_user %>
  <%= link_to 'Edit', edit_photo_path(@photo) %>
  <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

  <% if @photo.like_user(current_user) %>
   <div id="like-button">
     <%= image_tag("liked.png") %>
     <%= likes_counter(@likes) %>
   </div>
<% else %>
   <div id="like-button">
     <%= image_tag("Heart_icon_red_hollow.png") %>
     <div id="like-sum"><%= likes_counter(@likes) %></div>
  </div>
<% end %>

<div>
  <% @comments.each do |comment| %>
    <div>
      <strong><%= comment.user.user_name %></strong>
      <br />
      <p><%= comment.body %></p>
      <% if user_signed_in? && comment.user == current_user %>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete %></p>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>
</div>
</div>